/* Fonts */
$primary-font: "Montserrat", "Arial", sans-serif;
$secondary-font: "Montserrat-SemiBold", "Arial", sans-serif;
$bold-font: "Montserrat-Bold", "Arial", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-mini-width: 1024px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

/* Colors */
$text-color: #333333;
$accent-color: #7859cf;
$btn-hover: #9070ec;
$btn-active: #593cac;
$btn-disabled:#bdbdbd;


$bg-light: #f8f8f8;
$bg-grey: #bdbdbd;
$bg-light-color: #f0ebff;
$gradient-slaider: #f3e8db;
/* Slider */
$bg-slider-white: #f3ebe1;
$bg-slider-two: #eae6fc;
$bg-slider-espresso: #e5e6e8;

$white-color: #ffffff;
$grey: #e2e2e2;
