.button {
  border: none;
  margin: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px;
  cursor: pointer;
}

.button--accent {
  color: $white-color;
  background-color: $accent-color;

  &:hover,
  &:focus {
    background-color: $btn-hover;
  }

  &:active {
    background-color: $btn-active;
  }

  &:disabled {
    background-color: $btn-disabled;
  }
}

.button--light {
  color: $accent-color;
  background-color: $white-color;

  &:hover,
  &:focus {
    background-color: $btn-hover;
    color: $white-color;
  }

  &:active {
    background-color: $btn-active;
  }

  &:disabled {
    background-color: $btn-disabled;
  }
}
