.cards {
  &__list {
    list-style-type: none;
    margin: 0 0 40px;
    padding: 0;
    display: grid;
    gap: 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @media (min-width: $desktop-mini-width) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  &__item {
    width: 280px;
    padding: 30px 0;
    background-color: $white-color;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    @media (min-width: $tablet-width) {
      width: 347px;
      padding: 50px 0 30px;
    }

    @media (min-width: $desktop-mini-width) {
      width: 300px;
    }

    @media (min-width: $desktop-width) {
      width: 316px;
      padding: 50px 0 30px;
    }

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      transform: translateY(-5px);
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__link h3,
  &__link p,
  &__link span,
  &__link button {
    text-decoration: none;
  }

  &__picture {
    display: block;
    width: 130px;
    height: 188px;
    margin: 0 auto 20px;
  }

  &__img {
    width: 130px;
    height: 188px;
  }

  &__title {
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    width: 240px;
    margin: 0 auto 10px;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      width: 289px;
    }

    @media (min-width: $desktop-width) {
      width: 260px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    width: 234px;
    margin: 0 auto 20px;

    @media (min-width: $tablet-width) {
      width: 289px;
    }

    @media (min-width: $desktop-width) {
      width: 260px;
    }
  }

  &__price-box {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    width: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 289px;
    }

    @media (min-width: $desktop-mini-width) {
      width: 260px;
    }
  }

  &__button {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 10px 8px 40px;
    width: 141px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 16px;
      top: 45%;
      transform: translateY(-50%);
      left: 22px;
      mask-image: url("../../icons/basket-plus.svg");
      mask-repeat: no-repeat;
      mask-size: 20px 16px;
      background-color: $white-color;
    }
  }

  &__sort-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (min-width: $tablet-width) {
      justify-content: end;
      gap: 30px;
      margin-bottom: 20px;
    }

    /* &::after {
      position: absolute;
      content: "▼";
      font-size: 14px;
      color: $accent-color;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s ease;
      pointer-events: none;
    } */
  }

  & .catalog__filter-name {
    margin-bottom: 0;
  }

  &__sort-select {
    width: 150px;
    font-family: $primary-font;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: $accent-color;
    border: none;
    text-transform: lowercase;
    background-color: transparent;
    cursor: pointer;
    border-radius: 2px;
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
  }

  &__sort-select:hover {
    background-color: $bg-light-color;
    border: none;
  }

  /* поворот стрелки
  .cards__sort-box:focus-within::after { 
    transform: translateY(-50%) rotate(180deg);
  } */
}
