.footer {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;

    @media (min-width: $desktop-width) {
      grid-template-columns: 400px 1fr;
      gap: 40px;
      padding-top: 50px;
    }
  }

  &__wrapper-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      grid-column: 1 / 3;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
      flex-direction: column;
      align-items: start;
      gap: 40px;
    }
  }

  &__wrapper-logo {
    width: 82px;
    height: 40px;
    display: flex;
    align-items: center;

    @media (min-width: $tablet-width) {
      width: 170px;
    }

    @media (min-width: $desktop-mini-width) {
      width: 236px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  & .logo__label {
    width: 100%;
  }

  & .logo a {
    text-decoration: none;
  }

  &__wrapper-social-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (min-width: $desktop-width) {
      gap: 20px;
    }
  }

  &__wrapper-navigation {
    grid-column: 1 / 3;
    align-self: self-start;

    @media (min-width: $tablet-width) {
      grid-column: 1 / 4;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 2 / 3;
    }
  }

  &__copyright {
    align-self: center;
    grid-column: 1 / 3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    @media (min-width: $tablet-width) {
      grid-column: 1 / 4;
    }
  }
}
