.hero {
  background-color: $bg-slider-white;

  &--espresso {
    background-color: $bg-slider-espresso;

    @media (min-width: $tablet-width) {
      background: linear-gradient(to bottom, $bg-slider-espresso 0%, $bg-slider-espresso 75%, $white-color 71%);
    }

    @media (min-width: $desktop-width) {
      min-height: 714px;
      background: none;
      background-color: $bg-slider-espresso;
    }
  }

  &__wrapper {
    position: relative;
  }
}
