.hero {
  &--white {
    background-color: $bg-slider-white;

    @media (min-width: $tablet-width) {
      background: linear-gradient(to bottom, $bg-slider-white 0%, $bg-slider-white 75%, $white-color 71%);
    }

    @media (min-width: $desktop-width) {
      min-height: 714px;
      background: none;
      background-color: $bg-slider-white;
    }
  }

  &--lavender {
    background-color: $bg-slider-lavender;

    @media (min-width: $tablet-width) {
      background: linear-gradient(to bottom, $bg-slider-lavender 0%, $bg-slider-lavender 75%, $white-color 71%);
    }

    @media (min-width: $desktop-width) {
      min-height: 714px;
      background: none;
      background-color: $bg-slider-lavender;
    }
  }

  &--espresso {
    background-color: $bg-slider-espresso;

    @media (min-width: $tablet-width) {
      background: linear-gradient(to bottom, $bg-slider-espresso 0%, $bg-slider-espresso 75%, $white-color 71%);
    }

    @media (min-width: $desktop-width) {
      min-height: 714px;
      background: none;
      background-color: $bg-slider-espresso;
    }
  }

  &__wrapper {
    margin: 0 auto;
    position: relative;

    @media (min-width: $desktop-width) {
      max-width: 1550px;
    }
  }
}
