.price-filter {
  display: flex;
  flex-direction: column;
  position: relative;

  /* Шкала ценового диапазона */
  &__scale {
    position: relative;
    width: 280px;
    height: 2px;
    background-color: $bg-grey;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      width: 230px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  &__bar {
    position: absolute;
    width: 240px;
    height: 2px;
    background-color: $accent-color;

    @media (min-width: $tablet-width) {
      width: 180px;
    }

    @media (min-width: $desktop-width) {
      width: 257px;
    }
  }

  &__toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid $accent-color;
    background-color: $white-color;
    cursor: grab;

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      background-color: $accent-color;
    }

    &:focus,
    &:active {
      background-color: $accent-color;
    }
  }

  &__toggle--min {
    top: -8px;
    left: 0;
  }

  &__toggle--max {
    top: -8px;
    right: -18px;

    @media (min-width: $tablet-width) {
      right: -15px;
    }
  }

  /* Поля ввода цены */
  &__fields {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 8;
      height: 2;
      top: 50%;
      left: 50%;
      background-color: $btn-disabled;
    }

    label {
      position: relative;

      &:nth-of-type(2) .range-price-field {
        font-weight: 600;
        color: $text-color;
      }
    }
  }

  & input {
    width: 118px;
    font-family: $primary-font;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $btn-disabled;
    background-color: $white-color;
    padding: 9px 25px;
    border: 2px solid $accent-color;
    margin: 0;
    border-radius: 4px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 90px;
      padding: 9px 15px;
    }

    @media (min-width: $desktop-width) {
      width: 118px;
      padding: 9px 15px;
    }
  }

  /* Скрыть стрелки вверх и вниз на элементе input type=number */
  & input[type="number"]::-webkit-inner-spin-button,
  & input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
