.slider {
  &__wrapper {
    background: linear-gradient(to bottom, #f3e8db 0%, #f3e8db 50%, white 100%);
    position: relative;
  }

  &__wrapper--espresso {
    background-color: $bg-slider-espresso;
  }

  &__wrapper--white {
    background-color: $bg-slider-white;
  }

  &__button-back,
  &__button-next {
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  }

  &__button-back {
    top: 0;
    left: 0;
    position: absolute;

    &:hover {
      background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.5) 50%, rgba(120, 89, 207, 0) 100%);
    }

    &::after {
      content: "";
      position: absolute;
      width: 11px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      mask-image: url("../../icons/arrow-back.svg");
      mask-size: 11px 20px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $accent-color;
    }
  }

  &__button-next {
    top: 0;
    right: 0;
    position: absolute;

    &:hover {
      background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0.5) 50%, rgba(120, 89, 207, 0) 100%);
    }

    &::after {
      content: "";
      position: absolute;
      width: 11px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      mask-image: url("../../icons/arrow-next.svg");
      mask-size: 11px 20px;
      mask-repeat: no-repeat;
      mask-position: center;
      background-color: $accent-color;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 0 50px;
    width: 100%;
    min-width: 280px;
    max-width: 1000px;
    border: 2px solid blue;

    @media (min-width: $tablet-width) {
      padding: 50px 0 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 42px;
      line-height: 64px;
    }
  }

  &__content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    max-width: 650px;
    width: 100%;
    gap: 20px;
    order: -1;
  }

  &__picture-img {
    width: 486px;
    height: 486px;
  }

  &__title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 56px;
      line-height: 80px;
      font-weight: 700;
    }
  }

  &__description {
    max-width: 450px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
  }

  &__price {
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;

    &-new {
      font-size: 20px;
      line-height: 32px;
      font-weight: 600;
    }

    &-old {
      font-size: 16px;
      line-height: 32px;
      font-weight: 400;
      color: $accent-color;
    }
  }

  &__button {
    padding: 8px 20px;

    @media (min-width: $tablet-width) {
      margin-left: auto;
    }
  }

  &__pagination {
    display: none;
    grid-column: 1 / 4;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
