.slider {
  position: relative;

  &__button-back,
  &__button-next {
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: transparent;
    z-index: 10;
    transition: background 0.4s ease-in-out, color 0.4s ease-in-out;

    @media (min-width: $tablet-width) {
      width: 80px;
      /* top: 50%;
      transform: translateY(-50%); */
    }

    @media (min-width: $desktop-width) {
      /* top: 50%;
      transform: translateY(-50%); */
    }
  }

  &__button-back {
    top: 0;
    left: 0;

    &:hover {
      background: linear-gradient(90deg, $bg-light-color 0%, $white-color 50%, rgba(120, 89, 207, 0) 100%);
    }
  }

  &__button-back::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    mask-image: url("../../icons/arrow-back.svg");
    mask-size: 11px 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $accent-color;

    @media (min-width: $tablet-width) {
      top: 40%;
    }

    @media (min-width: $desktop-width) {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__button-next {
    top: 0;
    right: 0;

    &:hover {
      background: linear-gradient(270deg, $bg-light-color 0%, $white-color 50%, rgba(120, 89, 207, 0) 100%);
    }
  }

  &__button-next::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    mask-image: url("../../icons/arrow-back.svg");
    mask-size: 11px 20px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $accent-color;

    @media (min-width: $tablet-width) {
      top: 40%;
    }

    @media (min-width: $desktop-width) {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 20px 50px 20px;
    min-width: 280px;

    @media (min-width: $tablet-width) {
      padding: 50px 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 42px;
      line-height: 64px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: center;
      gap: 30px;
    }
  }

  &__content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 280px;
    max-width: 650px;
    width: 100%;
    gap: 20px;
    order: 1;

    @media (min-width: $tablet-width) {
      order: -1;
      justify-content: center;
    }

    @media (min-width: $desktop-width) {
      order: 1;
      align-items: start;
      text-align: left;
    }
  }

  &__picture {
    @media (min-width: $desktop-width) {
      width: 600px;
      min-height: 600px;
      padding-top: 30px;
    }
  }

  &__picture-img {
    width: 486px;

    @media (min-width: $desktop-width) {
      width: 600px;
    }
  }

  &__title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 56px;
      line-height: 80px;
      font-weight: 700;
    }
  }

  &__description {
    max-width: 450px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
  }

  &__price {
    max-width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;

    &-new {
      font-size: 20px;
      line-height: 32px;
      font-weight: 600;
    }

    &-old {
      font-size: 16px;
      line-height: 32px;
      font-weight: 400;
      color: $accent-color;
    }
  }

  &__button {
    padding: 8px 20px;

    @media (min-width: $tablet-width) {
      margin-left: auto;
    }
  }

  &__pagination {
    display: none;
    grid-column: 1 / 4;

    @media (min-width: $desktop-width) {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }

  &__pagination-button {
    width: 62px;
    height: 6px;
    background-color: $white-color;
    border: none;
  }

  &__pagination-button--active {
    background-color: $accent-color;
  }
}
